
footer{display: none !important}
.main-content{padding-bottom: 60px;}
.float-bar {display: none!important;}
.qr-download {display: none!important;}
.xui-header{top: 0!important;}
.xui-header-iconNav.IT>a{display: none;!important;}
